body {
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--surface);
  color: var(--text);
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2em;
}
